version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    # Ensures Dependabot keeps the commit SHA style
    commit-message:
      prefix: "chore(deps-actions):"
    open-pull-requests-limit: 5
