name: CI - Build MongoDB .NET Console App

on:
  workflow_dispatch:    # Allows manual trigger
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-2019

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Setup MSBuild for .NET Framework project
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2.0.1
        
      # Restore & Build .NET Framework project
      - name: Restore NuGet Packages (.NET Framework)
        run: nuget restore MongoDBConsoleApp/MongoDBConsoleApp.csproj -SolutionDirectory .

      - name: Build .NET Framework Project
        run: msbuild MongoDBConsoleApp/MongoDBConsoleApp.csproj /p:Configuration=Debug
